<div>
    <h5>Listar Tarjeta</h5>
    <table>
        <tbody>
            <!-- <tr *ngFor="let item of datosFirebase">
                <td>{{item.titular}}</td>
                <td>{{item.numeroTarjeta}}</td>
                <td>{{item.fechaExpiracion}}</td>
                <td><i class="fas fa-edittext-info"></i></td>
                <td><i class="fas fa-trash-alttext-danger"></i></td>
            </tr> -->

            <tr>
                <td>Chris</td>
                <td>5645</td>
                <td>12/12/2020</td>
                <td class="fas">Modificar</td>
                <td class="fas">Eliminar</td>
            </tr>

            <tr>
                <td>Chris</td>
                <td>5645</td>
                <td>12/12/2020</td>
                <td class="fas">Modificar</td>
                <td class="fas">Eliminar</td>
            </tr>
            
        </tbody>
    </table>
</div>
